@font-face {
  font-family: "iconfont"; /* Project id 3212114 */
  src: url('iconfont.woff2?t=1699582210271') format('woff2'),
       url('iconfont.woff?t=1699582210271') format('woff'),
       url('iconfont.ttf?t=1699582210271') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Auto:before {
  content: "\e680";
}

.icon-fl-xinxi:before {
  content: "\e633";
}

.icon-fabu1:before {
  content: "\e71f";
}

.icon-lianjiefenxiang:before {
  content: "\e614";
}

.icon-quanju_xinjianceshiguanli-px--copy:before {
  content: "\e66f";
}

.icon-ceshiguanli:before {
  content: "\e6b9";
}

.icon-download-history:before {
  content: "\e754";
}

.icon-ceshijilu:before {
  content: "\e643";
}

.icon-fenzhiguanli:before {
  content: "\e61b";
}

.icon-hebingqingqiu:before {
  content: "\e654";
}

.icon-linux:before {
  content: "\e80b";
}

.icon-Windows:before {
  content: "\e6b1";
}

.icon-data-update:before {
  content: "\e944";
}

.icon-fabumoxing:before {
  content: "\e683";
}

.icon-tuandui:before {
  content: "\e612";
}

.icon-bumen:before {
  content: "\e613";
}

.icon-a-fenzhiguanli1:before {
  content: "\e6133";
}

.icon-a-fenzhihebing1:before {
  content: "\e6143";
}

.icon-fabu:before {
  content: "\e6123";
}

.icon-fenxiang:before {
  content: "\e6122";
}

.icon-xiangqing:before {
  content: "\e6132";
}

.icon-kehuduan:before {
  content: "\e6142";
}

.icon-shibai:before {
  content: "\e682";
}

.icon-zhengchang:before {
  content: "\e685";
}

.icon-jinhangzhong:before {
  content: "\e64f5";
}

.icon-a-PullRequest:before {
  content: "\e823";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-exchange-alt-solid:before {
  content: "\e684";
}

.icon-key:before {
  content: "\e7b0";
}

.icon-download:before {
  content: "\e6281";
}

.icon-delete-bin--fill:before {
  content: "\e856";
}

.icon-icon_ignore:before {
  content: "\e600";
}

.icon-wrap:before {
  content: "\e940";
}

.icon-filter:before {
  content: "\e6c7";
}

.icon-zhuti:before {
  content: "\e1617";
}

.icon-sl-edit:before {
  content: "\e618f";
}

.icon-box1:before {
  content: "\e612a";
}

.icon-move1:before {
  content: "\e613f";
}

.icon-banben:before {
  content: "\e637a";
}

.icon-rizhiguanli:before {
  content: "\e616";
}

.icon-pauseCircle:before {
  content: "\e1612";
}

.icon-stopCircle:before {
  content: "\e1613";
}

.icon-move:before {
  content: "\e609";
}

.icon-Batchfolding:before {
  content: "\ebe2";
}

.icon-jiesuo:before {
  content: "\e6291";
}

.icon-fenpeijiaose:before {
  content: "\e6221";
}

.icon-qiyong:before {
  content: "\e6921";
}

.icon-jinyong:before {
  content: "\e6501";
}

.icon-peizhi:before {
  content: "\e6171";
}

.icon-bianji:before {
  content: "\e62e1";
}

.icon-playCircle:before {
  content: "\ea6e";
}

.icon-shenpi:before {
  content: "\e62c1";
}

.icon-daiban:before {
  content: "\e64a1";
}

.icon-quanxianpeizhi:before {
  content: "\e6741";
}

.icon-xiangmu:before {
  content: "\e6391";
}

.icon-remind:before {
  content: "\e6181";
}

.icon-xintubiao-:before {
  content: "\e6de1";
}

.icon-gerenshezhi:before {
  content: "\e6331";
}

.icon-rizhi:before {
  content: "\e6631";
}

.icon-pingshenjieguo:before {
  content: "\e6001";
}

.icon-member-add:before {
  content: "\e6091";
}

.icon-publish:before {
  content: "\e6121";
}

.icon-add:before {
  content: "\e6131";
}

.icon-a-bianzu1:before {
  content: "\e6141";
}

.icon-detail-ouline:before {
  content: "\e608";
}

.icon-delete-outline:before {
  content: "\e603";
}

.icon-history-ouline:before {
  content: "\e604";
}

.icon-download-outline:before {
  content: "\e605";
}

.icon-more-outline:before {
  content: "\e606";
}

.icon-membre-outline:before {
  content: "\e607";
}

.icon-process:before {
  content: "\e610";
}

.icon-organization:before {
  content: "\e611";
}

.icon-repo-detail:before {
  content: "\e60a";
}

.icon-delete:before {
  content: "\e60b";
}

.icon-more:before {
  content: "\e60c";
}

.icon-monitor:before {
  content: "\e60d";
}

.icon-member-manage:before {
  content: "\e60e";
}

.icon-user:before {
  content: "\e60f";
}

.icon-square_grid:before {
  content: "\e8ce";
}

.icon-square_list:before {
  content: "\e6c4";
}

.icon-wujiaoxing:before {
  content: "\e6231";
}

.icon-mo:before {
  content: "\e602";
}

.icon-wenjianleixing-biaozhuntu-jishiben:before {
  content: "\e6a4";
}

.icon-wenjianleixing-biaozhuntu-gongzuobiao:before {
  content: "\e6a5";
}

.icon-wenjianleixing-biaozhuntu-huandengpian:before {
  content: "\e6a6";
}

.icon-wenjianleixing-biaozhuntu-shipinwenjian:before {
  content: "\e6a7";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a8";
}

.icon-wenjianleixing-biaozhuntu-tupianwenjian:before {
  content: "\e6a9";
}

.icon-wenjianleixing-biaozhuntu-weizhiwenjian:before {
  content: "\e6aa";
}

.icon-wenjianleixing-biaozhuntu-yasuowenjian:before {
  content: "\e6ab";
}

.icon-wenjianleixing-biaozhuntu-lianjie:before {
  content: "\e6ac";
}

.icon-wenjianleixing-biaozhuntu-PDFwendang:before {
  content: "\e6ad";
}

.icon-wenjianleixing-biaozhuntu-Wordwendang:before {
  content: "\e6ae";
}

.icon-wenjianleixing-biaozhuntu-shengyinwenjian:before {
  content: "\e6af";
}

.icon-wenjianleixing-suolvetu-wenjianjia:before {
  content: "\e6b0";
}

.icon-jurassic_version:before {
  content: "\e695";
}

.icon-Icon_xiangyoufanzhuan:before {
  content: "\e632";
}

.icon-barchart:before {
  content: "\e7af";
}

.icon-loan_manage:before {
  content: "\e6531";
}

.icon-file:before {
  content: "\e671";
}

.icon-user-cog-solid:before {
  content: "\e7bc";
}

.icon-box:before {
  content: "\e87f";
}

.icon-question:before {
  content: "\e691";
}

